<div class="header">
    <div class="container">
        <div class="menu">
            <div class="item-menu" routerLink="/sobre-mi">Sobre mí</div>
            <div class="item-menu">
                <a routerLink="/habilidades">Habilidades</a>
              </div>
              <div class="item-menu">
                <a routerLink="/educacion">Educación</a>
              </div>
              <div class="item-menu">
                <a routerLink="/experiencia">Experiencia</a>
              </div>
            <div class="item-menu">
                <button type="button" mat-icon-button color="primary">
                    Descargar cv
                </button>
            </div>
        </div>
    </div>
</div>