<div class="header">
  <div class="container">
      <div class="menu">
        <div class="item-menu">
            <a routerLink="/home" fragment="sobre-mi">Sobre mí</a>
        </div>
        <div class="item-menu">
            <a routerLink="/home" fragment="habilidades">Habilidades</a>
        </div>
        <div class="item-menu">
            <a routerLink="/home" fragment="educacion">Educación</a>
        </div>
        <div class="item-menu">
            <a routerLink="/home" fragment="experiencia">Experiencia</a>
        </div>        
      </div>
  </div>
</div>

