<section class="educacion">
    <p class="titulo">Durante mi trayectoria académica, he tenido la oportunidad de formarme en prestigiosas instituciones como la Universidad Nacional de Rosario (UNR) y la Universidad Tecnológica Nacional (UTN), especializándome en áreas clave como el desarrollo de sistemas y la gestión de recursos humanos.</p>
    
    <div class="tags-container">
      <app-tags 
        [urlImagen]="'assets/universidades/unr.png'" 
        [nombreTag]="'UNR'" 
        [enlace]="'https://www.fcecon.unr.edu.ar/carreras/postitulo/gestion-de-recursos-humanos'">
      </app-tags>
      <app-tags 
        [urlImagen]="'assets/universidades/utn.png'" 
        [nombreTag]="'UTN'" 
        [enlace]="'https://www.frro.utn.edu.ar/carr_ing_sistemas.php'">
      </app-tags>
    </div>
</section>
  