<div>Hola, mi nombre es Facundo Finelli</div>
<div>Soy desarrollador Full Stack </div>
<div>imagen</div>

<div>poer info sobre mi, datos de contacto</div>

<div>tags con estudios y logo, tammb enlace</div>

<app-tags [urlImagen]="'assets/universidades/unr.png'" [nombreTag]="'UNR'" [enlace]="'https://www.fcecon.unr.edu.ar/carreras/postitulo/gestion-de-recursos-humanos'"></app-tags>
<app-tags [urlImagen]="'assets/universidades/utn.png'" [nombreTag]="'UTN'" [enlace]="'https://www.frro.utn.edu.ar/carr_ing_sistemas.php'" ></app-tags>
