<section class="experiencia">
  <p class="titulo">Áreas en las que he trabajado en diferentes proyectos</p>
  
  <div class="contenedor-imagenes">
    <div class="imagen agro">
      <span class="texto-hover">Sector Agro</span>
    </div>
    <div class="imagen puerto">
      <span class="texto-hover">Sector Portuario</span>
    </div>
    <div class="imagen granos">
      <span class="texto-hover">Sector de Granos</span>
    </div>
    <div class="imagen automotriz">
      <span class="texto-hover">Sector Automotriz</span>
    </div>
  </div>
</section>
