<div>Durante este tiempo desarrollando use:</div>

<div class="tech-tags">
    <app-tags [urlImagen]="'assets/tools/angular.png'" [nombreTag]="'Angular'"></app-tags>
    <app-tags [urlImagen]="'assets/tools/html.png'" [nombreTag]="'HTML'"></app-tags>
    <app-tags [urlImagen]="'assets/tools/css.png'" [nombreTag]="'CSS'"></app-tags>
    <app-tags [urlImagen]="'assets/tools/aws.png'" [nombreTag]="'AWS'"></app-tags>
    <app-tags [urlImagen]="'assets/tools/laravel.png'" [nombreTag]="'Laravel'"></app-tags>
    <app-tags [urlImagen]="'assets/tools/css.png'" [nombreTag]="'CSS'"></app-tags>

</div>