<!-- Comento header por ahora <app-header class="header"></app-header> -->

<div class="body">
    <app-sobre-mi id="sobre-mi" class="sobre-mi"></app-sobre-mi>
    <app-app-educacion id="educacion" class="educacion"></app-app-educacion>
    <app-app-experiencias id="experiencia" class="experiencias"></app-app-experiencias>
    <app-app-habilidades id="habilidades" class="habilidades"></app-app-habilidades>
</div>


<footer class="footer">
    <div class="footer-content">
        <p>© Facundo Finelli {{year}}.</p>
    </div>
</footer>